@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding: 0;
    margin:0;
    
}

.header {
    background-color: #e0d8de;
    font-family: "Open Sans";
    font-size: 18px;

}

.nav-barra {
    font-family: "Open Sans";
    color: #254441;
    text-decoration: none;
    background-color: #e0d8de;
}

p a {
    font-family: Verdana;
    font-style: italic;
    color: #254441;
    text-decoration: none;
}

.titulos {
    font-family: "Open Sans";
    font-weight: bolder;
    background-color: #cdc7e5;

}

#main-index {
    background-color: #cdc7e5;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    color: #254441;
    font-family: "Open Sans";

}

#main-nosotres {
    font-family: "Open Sans";
    text-align: center;
    background-color: #cdc7e5;

}


#main-contacto {
    font-family: "Open Sans";
    background-color: #cdc7e5;
}

#main-cristales {
    font-family: "Open Sans";
    background-color: #cdc7e5;


}

#main-preguntas {

    font-family: "Open Sans";
    background-color: #cdc7e5;
}

.footer {

    background-color: #e0d8de;
    text-align: center;
}